# Web Portal Credentials
WEB_PORTAL_USERNAME=your_username
WEB_PORTAL_PASSWORD=your_password
USER_AGENT=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)

# Data Collection
## date in the format YYYY-MM-DD where to start looking for consumption records
MEASURE_START_DATE=2022-01-01
# file path where the json files should be stored
STORAGE_PATH=/path/to/storage

# VictoriaMetrics Configuration
VICTORIAMETRICS_URL=http://localhost:8428/write
VICTORIAMETRICS_QUERY_URL=http://localhost:8428/api/v1/query

# Feature Flags
USE_VICTORIAMETRICS=true
USE_FILESYSTEM_BACKUP=true
